<table class="nested-fields">
<tr>
    <td>トラック番号<%= f.text_field :track_number %></td>
    <td>曲名<%= f.text_field :track_name %></td>
    <td><%= link_to_remove_association "削除", f %></td>
</tr>
</table>