<div class = "container">
	<div class="back-rgba">
		<div class = 'wrapper'>
			<%= form_for @artist, url: admin_artists_path do |f| %>
			<h1> アーティスト追加</h1>
			　　<p class = "text"> artist</p>

			　　　　<%= f.text_field :artist %>

			　　　　<%= f.submit "add" ,class: "btn btn-default" %>
			<% end %>



			<h1> アーティスト一覧</h1>

			<% @artists.each do |artist| %>
			<p><%= artist.artist %></p>

			<% end %>
		</div>

 	</div>
</div>