 <div class="container">
 	<div class="back-rgba">
 		<div class="wrapper">

		  <h1>退会確認ページ</h1>

		  <h3>本当に退会しますか？？？？？？</h3>

			<%= link_to "退会します", user_path(@user), method: :delete , class: 'btn btn-default' %>
		</div>
	</div>
</div>