<h2> Editing Genre</h2>
  <%= form_for @genre, url:admin_genre_path do |f| %>
    <strong> Label</strong>
    <p><%= f.text_field :genre, class:"form-control" %></p>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit 'update genre', id:"back" %>
  <% end %>

<script>
  $(document).on('turbolinks:load', function(){
  let back = document.getElementById("back");
  back.addEventListener("click", () => {
    window.history.back()
  };
  });
</script>