<%= form_for @genre, url: admin_genres_path do |f| %>

<h1> ジャンル作成</h1>
<p>ジャンル名</p>
<%= f.text_field :genre %>

<%= f.submit "登録" %>
<% end %>

<h1> ジャンル一覧</h1>

<% @genres.each do |genre| %>

	<p><%= genre.genre %> </p>
	<% end %>



