/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cp_bgpattern19 {
  background-color: rgba(0,77,64,1);
  background-image:
   radial-gradient(rgb(0,137,123) 4%, rgb(0,105,92) 9%, rgba(0,121,107,0) 9%),
   radial-gradient(rgb(0,137,123) 4%, rgb(0,105,92) 9%, rgba(102,0,0,0) 9%),
   radial-gradient(rgba(0,150,136 ,0.8) 20%, rgba(0,121,107,0) 100%),
   radial-gradient(rgba(0,150,136 ,0.8) 20%, rgba(0,121,107,0) 100%),
   radial-gradient(rgb(0,121,107) 35%, rgba(0,121,107,0) 60%),
   radial-gradient(rgb(0,121,107) 35%, rgba(0,121,107,0) 60%),
   radial-gradient(rgba(0,121,107 ,0.7) 0, rgba(0,121,107,0) 100%),
   radial-gradient(rgba(0,121,107 ,0.7) 0, rgba(0,121,107,0) 100%),
   linear-gradient(45deg, rgba(0,121,107,0) 49%, rgb(0,0,0) 50%, rgba(0,121,107,0) 70%),
   linear-gradient(-45deg, rgba(0,121,107,0) 49%, rgb(0,0,0) 50%, rgba(102,0,0,0) 70%);
  background-position: 0 0, 50px 50px, 50px 0, 0 50px, 50px 0, 100px 50px, 0 0, 50px 50px, 0 0, 0 0;
  background-size: 100px 100px;
}

 @import "bootstrap-sprockets";
 @import "bootstrap";

/*@font-face {
  font-family: "foge"
  src: font-url('disclaimer-classic.ttf') format('truetype');
 }*/

li {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Patua One', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  width: 100%;
}

body {
  background-color: #151515;
  color: #ffffff;
}

li {
  margin-right: 10px;
  margin-top: 30px;
}

.container {
  height: 100px;
}

.container nav {
  text-align: right;
}

.navbar {
  background-color: black;
}

.logo {
  float: left;
  padding: 0 0 0 0;
  margin-right: 0px;
}

li {
  margin-right: 15px;
  margin-top: 60px;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.nav-item:hover {
  text-decoration: none;
}


.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: .3s;
  transform: translateX(-50%);
}

.nav-item:hover::after{
  width: 100%;
}

.margin {
  margin-top: 100px;
}

.searchbox {
  color: #000;
}

.search-control {
  display: inline-block;
  width: 79%;
  padding-top: 20px;
}

.back {
  background-image: url("back.jpg");
  height: 5000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

.back-rgba {
  background-color:rgba(255,255,255,0.8);
  width: 80%;
  height: 5000px;
  margin: 0 auto;
}