/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  background-color: #151515;
  color: #000000;
  background-image: url("back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

a{
  color: #006699;
}

a:hover{
　text-decoration: none;
}

li {
/*  font-family: 'Abril Fatface', cursive;
  font-family: 'Patua One', cursive;*/
  list-style: none;
  margin-right: 10px;
  margin-top: 30px;
}

header {
  height: 100px;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  height: 100px;
}

.container nav {
  text-align: right;
}

.navbar {
  background-color: black;
}

.logo {
  float: left;
  padding: 0 0 0 0;
  margin-right: 0px;
  object-fit: none;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: .3s;
}

.nav-item:hover {
  text-decoration: none;
}


.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: .3s;
  transform: translateX(-50%);
}

.nav-item:hover::after {
  width: 100%;
}

.header-username{
  color: white;
  float: right;
  margin-top: 33px;
  padding-left: 40px;
}

.margin {
  margin-top: 100px;
}

.searchbox {
  color: #000;
}

.search-control {
  display: inline-block;
  width: 79%;
  padding-top: 20px;
}


.back-rgba {
  background-color:rgba(255,255,255,0.8);
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
}

.registration-actions{
  padding-top: 10px;
}

.login-box{
  width: 60%;
  margin: auto auto;
}

.login-login{
  margin-top: 20px;
  float: left;
  width: 20%;
}

.login-signup{
  margin-top: 20px;
  float: left;
  width: 30%;
}