// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  height: 200px;
}

.border-bottom {
  height: 1px;
  width: 80%;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 17px;
}

image {
  height: 200px;
}

table {
  height: 200px;
}

td {
  padding: 10px 0;
  width: 350px;
  /*font-family: "hoge";*/
}

