// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  height: 250px;
}

.border-bottom {
  height: 1px;
  width: 85%;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 20px;
}

.jacket-image {
  height: 200px;
  margin-left: 40px;
}

.index-table {
  height: 200px;
}

.index-td {
  padding: 10px 0;
  width: 420px;
}

  margin-left: 50px;
  border: none;
}


td {
  padding: 10px 0;
  width: 260px;
}


.link {
  margin: 20px 0px;
}