// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  height: 100px;
  width: 100%;
}

.back-rgba {
  background-color: rgba(12, 12, 12, 0.8);
  width: 100%;
  height: 1900px;
  margin: 0 auto;
  min-height: 600px;
}
