// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	height: 100px;
	width: 100%;
}

.back-rgba {
	background-color: rgba(12, 12, 12, 0.8);
	width: 100%;
	margin: 0 auto;
 	min-height: 600px;
}


.user-index-title{
 	width: 90%;
	margin: auto auto;
	padding-top: 10px;
	font-size: 36px;
}

.user-index-search{
	width: 90%;
	margin: auto auto;
	font-size: 15px;
}

.user-index-table{
	width: 90%;
	margin: 10px auto;
}

.user-index-detail{
	text-align: right;
	margin-right: 60px;
	margin-bottom: 10px;
}

.wrapper{
  margin: 30px 50px 30px 50px;
}
